.cards-desktop {
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 1rem;
    height: auto;
}

.card-container {
    width: 475px;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
    filter: brightness(90%);
}

.card-container:hover .card-image {
    transition: 0.6s ease;
    transform: scale(106%);
}

.card-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: center;
    height: 100%;
    top: 7%;
    color: white;
}

.card-text h1 {
    font-family: 'Montserrat', verdana;
    font-size: 1.5vw;
    font-weight: 600;
}

.card-text p {
    font-family: 'Montserrat', verdana;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 0.6px
}

.card-buttons {
    position: absolute;
    bottom: 10%;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
}

.shop-button {
    background-color: white;
    border: none;
    width: 10vw;
    height: 2.5vw;
    transition: background-color 0.3s ease;
    font-family: 'geograph', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    opacity: 0;
}

.shop-button:hover {
    background-color: black;
    color: white;
}

.card-container:hover .shop-button{
    transition: 1s;
    opacity: 1;
}

/* Mobile view */
.cards-mobile {
    padding: 1.5rem 1rem;
}

.mobile-slide {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mobile-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.mobile-text {
    top: 7%;
    text-align: center;
    position: absolute;
}

.mobile-text h2 {
    font-size: 5vw;
    color: #fff;
    font-weight: bold;
}

.mobile-text p {
    font-size: 2.8vw;
    color: #4b5563;
    color: #fff;
}

.shop-button-mobile {
    background-color: white;
    border: none;
    width: 43%;
    height: 8vw;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 500;
}

.shop-button-mobile:hover {
    background-color: black;
    color: white;
}